.container
  %h2.u-margin-bottom-md.text-center
    The latest from our blog
  .grid-layout.grid-layout3
    - blog.articles[0...3].each do |article|
      - unless article.data.categories.include?("unfiltered")
        %a.tile-resource.grid-item{ href: "#{article.url}" }
          - image_title = article.data.image_title ? article.data.image_title : '/images/default-blog-image.png'
          .tile-background-container{ style: "background-image: url('#{image_title}');" }
          .tile-info
            %h4.tile-title
              = article.title
            %p.tile-subtitle
              by
              = article.data.author
            %p.tile-description
              = article.data.description
            %p.tile-link
              Join us
              %i.fas.fa-arrow-right
